.img-center {
	margin: 0 auto;
}
#setup > div.container-fluid:last-of-type {
	margin: 25px auto;
}
fieldset {
	border: 2px solid gray;
	border-radius: 5px;
	padding: 10px;	
	margin-bottom: 10px;
}
fieldset legend {
	width: auto;	
	padding: 0 5px;
	border: 2px solid gray;
	border-radius: 8px;
	margin-bottom:  0px;
	background-color: white;
}
@keyframes winner {
	0% {
		background-color: white;
	}
	50% {
		background-color: rgb(153, 255, 153);
	}
	100% {
		background-color: white;
	}
}
fieldset legend.winner {
	border-color: green;		
	border-width: 2px;
	background-color: rgb(153, 255, 153);
	animation-name: winner;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}
fieldset legend span.vbar {
	margin-left: 10px;
	margin-right: 10px;
	border: 1px solid black;
}
fieldset hr {
	border-color: black;
}
.vcenter {
	display: flex;
	align-items: center;
}
.vbottom {
	display: flex;
	align-items: flex-end;
}
.vtop {
	display: flex;
	align-items: flex-start;
}
p.lb-type {
	font-size: 1.2em;
}
.colorbar {
	margin: 10px 0px;
	height: 5px; 		
}
.bg-green {
	background-color: green;
}
.bg-red {
	background-color: red;
}
.slider-track {
	border: 1px solid black;
}
/*.slider-handle {
	background: black;
}*/
.slider {
	width: 96% !important;
	margin-left: 2% !important;
	margin-right: 2% !important;
}